{% load static %}
{% load group_filter_template_tag %}

<div class="container">

    <h5 class="grey-text">Rxs</h5>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s12 center">
                    <table class="highlight" align="left">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>First Name</th>
                            <th>Family Name</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if request.user|has_group:"Operators, Pharmacists, Managers" %}
                            {#        has_group is a custom template filter which returns True if the user belongs to the cited comma and space separated Groups#}
                            {% include 'partials/table_body_staff.html' %}
                        {% else %}
                            {% include 'partials/table_body_customers.html' %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>