{% extends 'shared/base.html' %}

{% block styles %}
    {% load static %}
    <link href="{% static 'css/custom/profile_page.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block site_content %}
    {% load static %}
    {% load group_filter_template_tag %}

    <div class="section"></div>
    <div class="container">
        <h5 class="grey-text">Edit {{ rx.first_name }}s RX</h5>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel hoverable grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s12 center">
                        <div class="image-center">
                            <img width="650" src="{{ rx.image.url }}" alt="Patients Rx">
                        </div>

                        <div class="row">

                            {% if request.user|has_group:"Clients" %}

                                {% include 'components/edit_form.html' %}

                            {% endif %}

                            {% if request.user|has_group:"Operators, Managers" %}

                                {% include 'components/onhold_form.html' %}

                                {% include 'components/prepared_form.html' %}

                            {% endif %}

                            {% if request.user|has_group:"Pharmacists, Managers" %}

                                {% include 'components/ready_form.html' %}

                                {% include 'components/finished_form.html' %}

                            {% endif %}

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}