{% extends 'shared/base.html' %}

{% block styles %}
    {% load static %}
    <link href="{% static 'css/custom/profile_page.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block site_content %}
    {% load static %}
    {% load group_filter_template_tag %}

    <div class="section"></div>


    {% if errors %}
        {% include 'components/error_container.html' %}
    {% endif %}

    {% if request.user|has_group:"Operators, Pharmacists, Managers" %}

    {% include 'components/filter_rx.html' %}

    {% endif %}

    <div class="section"></div>


    {% if request.user|has_group:"Clients" %}
        {#        has_group is a custom template filter which returns True if the user belongs to the cited comma and space separated Groups#}
        {% include 'partials/list_rxs.html' %}

        {% include 'partials/input_rx.html' %}
    {% else %}

        {% include 'partials/list_rxs.html' %}


    {% endif %}




{% endblock %}